

body {
    background: #eee3e7;
    font-family: 'Hind Madurai', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: default;
}

h1 {
    color: #f6abb6;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    color: #f4b6c2;
    margin-bottom: 10px;
}

h3 {
    color: #f4b6c2;
    cursor: pointer;
    margin-top: 5px;
    font-size: 15px;
    text-align: right;
}

button {
    text-transform: uppercase;
    padding: 16px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    background: #ead5dc;
}

button[type=submit] {
    margin-top: 10px;
    color: #ffff;
    background:  #f4b6c2;
}

a{
    text-decoration: none;
    color: #ffff;
}

input {
    border-radius: 10px;
    border-color: #f4b6c2;
    height: 40px;
    padding: 0 10px;
}

/* hr {
    border: 0;
    width: 100%;
    background-color:#f6abb6;
    height: 2px;
    margin-top: 50px;
} */

img {
    align-self: center;
    margin-top: 25px;
}

.parent {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    background: #ffffff;
    height: auto;
    width: 400px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
}